@import url(./colores.css);
@import url(./fonts.css);

header {
    height: 4.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #292d2f;
    width: 100%;    
}

.logo {
    width: 23.125rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 0.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: ease-in-out 0.2s;
    border-bottom: 1px solid transparent;
    height: 100%;
    padding: 0 1rem;
}

nav ul li a:hover{
background-color: var(--menu) ;    
color: black;
padding:2rem 1rem;
}

.activo{
    background-color: var(--menu);
    color: black;
    padding: 0.6rem 1rem;
}

.imagCarru {
    width: 100%;
    height: 650px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

#destino {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}

#destino img {
    width: 100%;
    transition: all 300ms;
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;

}

#destino img:hover {
    transform: scale(1.5);
    box-shadow: 5px 5px 5px 5px rgba(37, 37, 37, 0.372);

}

.fondo {
    height: 15vw;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    filter: grayscale(50%);
    z-index: 0;
}

.fondo:hover {
    filter: grayscale(0%);
    transform: scale(0.5);
    transition: .2s;
    z-index: 100;
}

.fondo>div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    color: white;
    text-align: center;
    border-radius: 15px;
}

.fondo>div>a {
    text-decoration: none;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 2px 2px 5px black;
    color: white;
}

.vacaciones {
    justify-content: right;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    box-sizing: border-box;
    padding: 5vw 3vw;
    gap: 3vw;
}

footer>.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
    margin: 0;
}

.left p {
    margin: 0
}

@media only screen and (min-width:750px) {
    footer {
        flex-direction: row;
        justify-content: space-evenly;
        background-color: black;
        box-sizing: border-box;
        padding: 5vw 3vw;
    }

    footer>.left {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 3vw;
        color: white;
    }

    footer a {
        text-decoration: none;
        color: white;
        margin: 0;
    }

    @media only screen and (min-width:1000px)  {
        footer {padding: 2vw 3vw}
        iframe{border-radius: 20px;}
    .left p {
        margin: 0
    }

    @media only screen and (min-width:1000px) {
        footer {
            padding: 2vw 3vw
        }

        iframe {
            border-radius: 20px;
        }
    }
}
}